input {
  width: 350px;
  height: 40px;
  padding: 4px 25px 4px 10px;
  margin: 15px 20px auto 0;
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 2px;
  box-sizing: border-box;
}

::placeholder {
  font-size: 14px;
  color: #aaa;
  opacity: 1; /* Firefox */
}

.button-auth {
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  font-size: 15px;
  border: 1px solid #da552f;
  border-radius: 3px;
  background-color: #da552f;
  color: #fff;
  margin-left: 2px;
}

.logo-auth {
  width: 50px;
  height: 50px;
  margin: -65px auto 10px auto;
  border-radius: 50%;
}

.center-div {
  text-align: center;
  margin: auto;
  padding: 75px 0;
}

form {
  display: inline-block;
}

.error-message {
  font-size: 10px;
  color: red;
}